{% extends 'base.html' %}
{% load static %}

{% block css_files %}

<script defer src={% static 'javascript/search.js' %}>
</script>
{% endblock  %}

{% block content %}
<section class="container-custom">
  

<h1 class="heading-primary">Soul kitesurfers</h1>
 

<form class="form form-container" action="#" method="get">
  <div class="form__field">
    <label for="formInput#search">Search customer: </label>
  <input class="input input--text" id="formInput#search" type="text" value="{{search_query}}" placeholder="Search by name" name="search_query" data-search>  
  </div>
  
</form>

{% for customer in customers %}

  <div class="card">
    <h2 class='name' data-name>{{customer.name}}</h2>
    <p class='phone_nr' data-phone>{{customer.phone_nr}}</p>
    {% comment %} <p class='email' data-email>{{customer.email}}</p> {% endcomment %}
    <a href="{% url 'customer' customer.id %}"> View </a>
  </div>

{% endfor %} 

<!-- python  
<div class="user-cards">
 {% for customer in object_list %}
 <div class="card">
  <p class="card-header"> {{ customer.name }} </p>
  <p class="card-body"> {{ customer.phone_nr }} </p>
  <p> {{ customer.email }} </p>
 </div>
 {% endfor %} 
</div>

end python -->

<template data-user-template>
  <div class="card">
    <h2 class='name' data-name></h2>
    <p class='phone_nr' data-phone></p>
    <p class='email' data-email></p>
  </div>
</template>

<div class='customers' data-user-cards-container>

</div>

</section>
{% endblock  %}