{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class='waiver-form'>
<div class="container-custom">
 <h2 class="heading-primary">Waiver form</h2>
 <div class="waiver-content">
 <p>In consideration for courses and/or activities utilizing the facilites, ground IKO Center, kiteboarding instruction,
  premises and equipment of SOUL Kitesurfing, I hereby acknowledge and agree to the following:</p>
  <ul class="waiver-ul">
    <li>I understand and acknowledge that kiteboarding activities have inherent dangers that no amount of care,
      caution, instruction, or expertise can totally eliminate. I expressly and voluntarily assume all risk of personal
      injury or death sustained while participating in kiteboarding activities whether or not caused by the negligence
      of the released parties</li>
      <li>I agree that I will operate the said kiteboarding equipment in a reasonable and safe manner so as not to endan-
        ger the lives of persons or property of any individual</li>
        <li>
          I confirm that I am an open water swimmer
        </li>
        <li>
          I am not under the influance of alcohol or drugs
        </li>
        <li>
          I am in good health condition and have no medical condition that may interfere with the practice of kiteboard-
ing activities. I am not pregnant or nursing. I have no mental impairiment that may affect my judgment of
danger and information given during the practice of kiteaboarding activities.
        </li>
        <li>
          The School Manager and/or the Instructor has given me the full opportunity to ask any and all questions about
kiteboarding activities and all of my questions have been answered to my total satisfaction.
        </li>
        <li>
          I acknowledge that I have been given adequate opportunity to read and understand this document, that I was
not presented to me at the last minute
        </li>
        <li>
          I further represent that I am at least 18 years of age or that as the parent or legal guardian I waive and release
any and all legal rights that may accure to me or to my minor child as the result of any injury that my son or
daughter (minor)may suffer while engaging in kiteboarding activities
        </li>
        <li>
          I give may consent to the IKO Instructor or IKO center to share my personal information with the IKO in order to
receive my certification.
        </li>
        <li>
          I have read this waiver, fully understand its contents, and and agree with it of my own free will
        </li>
  </ul>
</div>
</div>
</section>

<section class='signup'>
  <div class="form-info heading-secondary"><span>Pleas fill information below to finish registration</span></div>
  <form method='POST' action="" class="container-custom form-container">

    {% csrf_token %}

    {{form.name.label_tag}}
    {{form.name}}

    {{form.phone_nr.label_tag}}
    {{form.phone_nr}}

    {{form.email.label_tag}}
    {{form.email}}

    {{form.gender.label_tag}}
<div class="gender">
{{form.gender}}
</div>
{{form.weight.label_tag}}
{{form.weight}}

<div class="terms">
  {{form.terms.label_tag}}
  {{form.terms}}
</div>


    <input type="submit" value="Sign up">
  </form>
</section>

{% endblock content %}

