{% extends 'base.html' %}

{% load static %}

{% block css_files %}

  <script defer src={% static 'javascript/add-session.js' %}>
  </script>

{% endblock css_files %} 

{% block content %}




<label for="customer">Type name or phone number:</label>
<input type="text" name='customer' list='customerList' data-search id='customerInput'>
<datalist id='customerList'>
</datalist>
<button id='addStudent'>Add</button>

<form action="{% url 'add-session' %}" method='POST' id='form'>
  {% csrf_token %}
  {% comment %} search query set {% endcomment %}
  <div id='session-students'> 
  
  </div>
  {{form.lesson.label_tag}}
  {{form.lesson}}

  {{forms.staff.label_tag}}
  {{form.staff}}

  {{form.hours.label_tag}}
  {{form.hours}}

  {{form.minutes.label_tag}}
  {{form.minutes}}
  <input type="submit" value='REGISTER'>
</form>

{% endblock content %}