{% extends 'base.html' %}

{% block content %}
<section class="container">

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="total-container payment-header">
  <h1 class='primary-heading customer-name total-header m-top'>Checkout page <ion-icon name="person-circle-outline"></ion-icon>{{customer.name}}</h1>

  <div class="secondary-heading total-items total-block bold ">
    Total to pay: EGP {{order.get_cart_total}}
  </div>
</div>
<div class="checkout-dashboard">
  <form method='POST' action="" class="container-custom form-container">

    {% csrf_token %}

    {{form.visa.label_tag}}
    {{form.visa}}

    {{form.cash.label_tag}}
    {{form.cash}}

    {{form.other.label_tag}}
    {{form.other}}


    {{form.comment}}

    <input type="submit" value="Pay">
  </form>
</div>

</section>

{% endblock  %}