{% extends 'base.html' %}
{% load static %}
{% block css_files %}

<link rel="stylesheet" href="{% static "soul_customers/index.css"%}">

{% endblock  %}
{% block content %}
{% comment %} press on the date to go detail view and review all bookings of the day {% endcomment %}
{% comment %} create a table of all the bookings {% endcomment %}
<div class="container">
  <h1>Day Use Booked on {{booking_date}}</h1>
{% for booking in booked %}
    <tr>
      <th scope="row"> {{booking.date}} </th>
      <td>{{booking.num}}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>

<div class="container">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Customer name</th>
      <th scope="col">Contact</th>
      <th scope="col">Item</th>
      
    </tr>
  </thead>
  <tbody>
{% for booking in bookings %}
    <tr>
      <th scope="row"> <a href="/customers/bookings/{{booking.date|date:"Y-m-d"}}"> {{booking.date|date:"Y-m-d"}}</a> </th>
      <td><a href="/customers/bookings/{{ booking.id }}">{{booking.customer_full_name}} </a></td>
      <td>{{booking.contact_number}}</td>
      <td>{{booking.service}}</td>  
    </tr>
{% endfor %}

</tbody>
</table>
<a href="{% url "bookings" %}"> All bookings </a>
</div>
{% comment %} CALENDAR {% endcomment %}

{% comment %} 
<table id="calendar">
  <caption>December 2022</caption>
  <tr class="weekdays">
    <th scope="col">Sunday</th>
    <th scope="col">Monday</th>
    <th scope="col">Tuesday</th>
    <th scope="col">Wednesday</th>
    <th scope="col">Thursday</th>
    <th scope="col">Friday</th>
    <th scope="col">Saturday</th>
  </tr>

  <tr class="days">
    <td class="day other-month">
      <div class="date">27</div>
    </td>
    <td class="day other-month">
      <div class="date">28</div>
      <div class="event">
        <div class="event-desc">
          Event
        </div>
        <div class="event-time">
          1:00pm to 3:00pm
        </div>
      </div>
    </td>
    <td class="day other-month">
      <div class="date">29</div>
    </td>
    <td class="day other-month">
      <div class="date">30</div>
    </td>
    <td class="day other-month">
      <div class="date">31</div>
    </td>


    <td class="day">
      <div class="date">1</div>
    </td>
    <td class="day">
      <div class="date">2</div>
      <div class="event">
        <div class="event-desc">
          event
        </div>

        <div class="event-time">
          2:00pm to 5:00pm
        </div>
      </div>
      <div class="event">
        <div class="event-desc">
          Test event 2
        </div>

        <div class="event-time">
          5:00pm to 6:00pm
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td class="day">
      <div class="date">3</div>
    </td>
    <td class="day">
      <div class="date">4</div>
    </td>
    <td class="day">
      <div class="date">5</div>
    </td>
    <td class="day">
      <div class="date">6</div>
    </td>
    <td class="day">
      <div class="date">7</div>
      <div class="event">
        <div class="event-desc">
          Group Project meetup
        </div>
        <div class="event-time">
          6:00pm to 8:30pm
        </div>
      </div>
    </td>
    <td class="day">
      <div class="date">8</div>
    </td>
    <td class="day">
      <div class="date">9</div>
    </td>
  </tr>
  <tr>
    <td class="day">
      <div class="date">10</div>
    </td>
    <td class="day">
      <div class="date">11</div>
    </td>
    <td class="day">
      <div class="date">12</div>
    </td>
    <td class="day">
      <div class="date">13</div>
    </td>
    <td class="day">
      <div class="date">14</div>
      <div class="event">
        <div class="event-desc">
          Board Meeting
        </div>
        <div class="event-time">
          1:00pm to 3:00pm
        </div>
      </div>
    </td>
    <td class="day">
      <div class="date">15</div>
    </td>
    <td class="day">
      <div class="date">16</div>
    </td>
  </tr>
  <tr>

    <td class="day">
      <div class="date">17</div>
    </td>
    <td class="day">
      <div class="date">18</div>
    </td>
    <td class="day">
      <div class="date">19</div>
    </td>
    <td class="day">
      <div class="date">20</div>
    </td>
    <td class="day">
      <div class="date">21</div>
    </td>
    <td class="day">
      <div class="date">22</div>
      <div class="event">
        <div class="event-desc">
          Conference call
        </div>
        <div class="event-time">
          9:00am to 12:00pm
        </div>
      </div>
    </td>
    <td class="day">
      <div class="date">23</div>
    </td>
  </tr>
  <tr>
    <td class="day">
      <div class="date">24</div>
    </td>
    <td class="day">
      <div class="date">25</div>
      <div class="event">
        <div class="event-desc">
          Conference Call
        </div>
        <div class="event-time">
          1:00pm to 3:00pm
        </div>
      </div>
    </td>
    <td class="day">
      <div class="date">26</div>
    </td>
    <td class="day">
      <div class="date">27</div>
    </td>
    <td class="day">
      <div class="date">28</div>
    </td>
    <td class="day">
      <div class="date">29</div>
    </td>
    <td class="day">
      <div class="date">30</div>
    </td>
  </tr>
  <tr>

    <td class="day">
      <div class="date">31</div>
    </td>
    <td class="day other-month">
      <div class="date">1</div>
      <!-- Next Month -->
    </td>
    <td class="day other-month">
      <div class="date">2</div>
    </td>
    <td class="day other-month">
      <div class="date">3</div>
    </td>
    <td class="day other-month">
      <div class="date">4</div>
    </td>
    <td class="day other-month">
      <div class="date">5</div>
    </td>
    <td class="day other-month">
      <div class="date">6</div>
    </td>

</table> {% endcomment %}

{% comment %} CALENDAR {% endcomment %}




{% endblock  %}